encoding utf-8

In [15]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import scale
from sklearn.preprocessing import PowerTransformer
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer

In [16]:
# IO test data
df = pd.read_csv('EvaluateOnMe.csv')
df.head()

,Unnamed: 0,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10
0,1000,2.11820,0.30064,0.11441,0.08570,True,E,-0.23694,1.34755,4.41336,0.92271
1,1001,0.33456,-0.08190,-0.70144,0.69276,False,F,-0.97349,-1.46992,-3.30673,0.22554
2,1002,1.52200,-0.50104,-1.34160,1.28651,False,F,1.59231,1.96883,-1.36040,2.68363
3,1003,1.27021,1.24996,-0.14228,0.15172,True,A,-0.28572,-0.85520,-3.86445,0.86683
4,1004,-1.91738,0.83558,-0.88311,0.95150,False,A,0.74576,2.59335,-2.41387,1.01367

In [17]:
# preprocess categorical variables
# x5
enc_OE = OrdinalEncoder()
enc_x5 = enc_OE.fit(df[['x5']])
print(enc_x5.categories_)
df[['x5']] = enc_x5.transform(df[['x5']])

[array([False,  True])]

In [18]:
# preprocess categorical variables
# x6
df_dummy = pd.get_dummies(df['x6'], prefix='x6', drop_first=True)
df = pd.concat([df, df_dummy], axis=1).drop(['x6'], axis=1)

In [19]:
# EDA
# plt.hist(df['x10'],50)

In [20]:
# standardize x1
print(df['x1'].mean(axis=0))
df['x1'] = scale(df['x1'])
print(df['x1'].mean(axis=0))

-0.025693744999999945
2.065014825802791e-18

In [21]:
# standardize x2
print(df['x2'].mean(axis=0))
df['x2'] = scale(df['x2'])
print(df['x2'].mean(axis=0))

0.013576000999999982
4.451369828295526e-17

In [22]:
# apply non-linear transformation and standardization on x3
pt = PowerTransformer()
df['x3'] = pt.fit_transform(df[['x3']])

In [23]:
# apply non-linear transformation and standardization on x4
df['x4'] = pt.fit_transform(df[['x4']])

In [24]:
# standardize x7
print(df['x7'].mean(axis=0))
print(df['x7'].std(axis=0))
df['x7'] = scale(df['x7'])
print(df['x7'].mean(axis=0))
print(df['x7'].std(axis=0))

0.016408305000000015
1.4223352436765795
1.3522516439934407e-17
1.0000500037503126

In [25]:
# standardize x8
df['x8'] = scale(df['x8'])

In [26]:
# standardize x9
df['x9'] = scale(df['x9'])

In [27]:
# standardize x10
df['x10'] = scale(df['x10'])

In [28]:
# output preprocessed df_test
df.to_csv('prepro_testset.csv', index=False)